<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-today-widget"
        version="0.0.1">

  <name>Today Widget App Extension</name>
  <author>David Strauß</author>

  <description>
    Add a today widget app extension target to your cordova project.
  </description>

  <engines>
    <engine name="cordova" version="&gt;=6.0.0"/>
  </engines>

  <platform name="ios">
    <config-file target="config.xml" parent="/*"></config-file>

    <config-file parent="com.apple.security.application-groups" target="*-Debug.plist">
      <array>
        <string>group.__APP_IDENTIFIER__</string>
      </array>
    </config-file>
    <config-file parent="com.apple.security.application-groups" target="*-Release.plist">
      <array>
        <string>group.__APP_IDENTIFIER__</string>
      </array>
    </config-file>
  	<config-file parent="com.apple.developer.associated-domains" target="*-Debug.plist">
  		<array>
  			<string>applinks:triggi.com</string>
  			<string>applinks:triggi.onelink.me</string>
  		</array>
  	</config-file>
  	<config-file parent="com.apple.developer.associated-domains" target="*-Release.plist">
  		<array>
  			<string>applinks:triggi.com</string>
  			<string>applinks:triggi.onelink.me</string>
  		</array>
  	</config-file>
    <hook type="after_platform_add" src="hooks/prerequisites.js"/>
    <hook type="after_platform_add" src="hooks/copyExtensionFolderToIosProjectFolder.js"/>
    <hook type="after_platform_add" src="hooks/addTodayWidgetToProject.js"/>
    <hook type="after_prepare" src="hooks/fixAppEntitlements.js"/>
  </platform>
</plugin>
